/*
 * Customization Variables
 */

$accent_lightmode: #0D75E6;
$base_lightmode: #2B2F32;
$bg_lightmode: #FFFFFF;

$accent_darkmode: #B5D5FF;
$base_darkmode: #E6EAF0;
$bg_darkmode: #2B2F32;

$font_family: "Helvetica";
$header_font_size: 35px;
$body_font_size: 18px;

$image-size: 85px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
